.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 60px;
  background-color: $main-blue;
  //padding: 0px 122px 0px 122px !important;
  z-index: 100;
  .navbar-title {
    font-family: $montserrat;
    color: $main-yellow;
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -2px;
  }
  li {
    list-style: none;
    a {
      font-family: $montserrat;
      color: $main-white;
      font-weight: 300;
      font-size: 18px;
      letter-spacing: -1px;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: $main-yellow;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
      }
    }
  }
  .nav-burger {
    width: 28px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  .burger-line {
    width: 28px;
    height: 2px;
    opacity: 1;
    position: absolute;
    background-color: $main-white;
    &:nth-child(1) {
      top: 0px;
      transition: 0.2s all ease-in-out;
      transform: translateY(-50%);
    }
    &:nth-child(2) {
      top: 10px;
      transform: translateY(-50%);
      transition: 0.2s all ease-in-out;
    }
    &:nth-child(3) {
      top: 20px;
      transition: 0.2s all ease-in-out;
      transform: translateY(-50%);
    }
  }
  .nav-menu-burger {
    position: absolute;
    display: none;
    top: 60px;
    width: 100%;
    li {
      width: 100%;
      background-color: $main-blue;
      a {
        font-size: 26px;
      }
    }
  }
}

@media (max-width: 400px) {
  .navbar-title {
    display: none;
  }
}

@media (max-width: 800px) {
  .nav-burger {
    display: flex;
  }
  .nav-menu {
    display: none;
  }
}

@media (min-width: 801px) {
  .nav-burger {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
}
