<section class="section-1" id="accueil">
  <%= image_tag "headlogo_black.png", class: "head_logo" %>
  <div class="title-content">
    <h6>Bonjour, je suis</h6>
    <h1>Clément Le Boulanger</h1>
    <%= image_tag "profil.jpg", class: "profil_img" %>
  </div>
  <h2>- Développeur Web Full Stack -</h2>
  <div class="scroll">
    <div class="bulle"></div>
  </div>
</section>
