<section class="section-2" id="actu">
  <div class="container shadow">
    <div class="title-bottom mb-3">
      <h2><i class="far fa-newspaper"></i><strong> Aux dernières nouvelles ...</strong></h2>
    </div>
    <p><%= @article.text %></p>
    <p><i class="fas fa-calendar-week"></i> <%= @article.created_at.strftime('%d-%m-%Y') %> par Clément.</p>
  </div>
</section>
