<section class="section-4" id="github">
  <a href="https://github.com/ClementLeBoulanger" target="_blank"><%= image_tag "GitHub-Mark-Light.png" %></a>
  <p><%= @repo %> Dépots</p>
  <p><%= @commit %> Contributions</p>
  <p><%= @commit[0].to_i * 3 %> Cafés</p>
</section>
