<div class="menu">
  <nav class="nav nav-pills pb-3 pt-3 justify-content-start w-100">
    <a class="nav-item pill nav-link active" href="#p1" data-toggle="tab">Actualités</a>
    <a class="nav-item pill nav-link" href="#p2" data-toggle="tab">Projets</a>
    <a class="nav-item pill nav-link" href="#p3" data-toggle="tab">Messages</a>
  </nav>
</div>
