<div class="admin-menu">
  <nav class="nav nav-pills pb-3 pt-3 justify-content-start w-100">
    <a class="nav-item pill nav-link active" href="#p1" data-toggle="tab">Actualités</a>
    <a class="nav-item pill nav-link" href="#p2" data-toggle="tab">Projets</a>
    <a class="nav-item pill nav-link" href="#p3" data-toggle="tab">Messages</a>
  </nav>
</div>

<div class="content-admin">
  <div class="tab-pane active pb-3 pt-3 grid-card" id="p1">
    1
  </div>

  <div class="tab-pane pb-3 pt-3 grid-card" id="p2">
    2
  </div>

  <div class="tab-pane pb-3 pt-3 grid-card" id="p3">
    3
  </div>
</div>
