.admin-menu {
  width: 100%;
  //min-height: 100vh;
  background-color: $main-green;
  padding-top: 90px;
  padding-left: 5%;
  padding-right: 5%;
  .nav-link {
    color: $main-yellow;
  }
  .active {
    background-color: $main-yellow !important;
  }
}

.content-admin {
  width: 100%;
  min-height: 100vh;
  background-color: $main-green;
  padding: 0 5%;
  .text-field {
    background-color: $main-white;
    min-height: 20vh;
    border-radius: 8px;
    margin-top: 25px;
  }
  label {
    color: $main-white;
  }
  .btn-submit {
    padding: 5px 10px;
    background-color: $main-yellow;
    color: $main-white;
    &:hover {
      background-color: $main-white;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
  }
  .form-article-content {
    width: 65%;
    margin-bottom: 40px;
  }
  .card-article {
    width: 65%;
    min-height: 20vh;
    border-radius: 8px;
    background-color: $main-white;
    margin-bottom: 40px;
    padding: 15px;
  }
  .tab-pane {
    display: none;
  }
  .active {
    display: block;
  }
  .card-message {
    width: 60%;
    min-height: 17vh;
    background-color: $main-white;
    border-radius: 8px;
    margin-bottom: 40px !important;
    padding: 15px;
    .objet {
      color: $main-yellow;
      font-weight: bold;
      margin-bottom: 15px !important;
      .light {
        color: $main-black;
        font-weight: normal;
      }
    }
    .email {
      color: $main-yellow;
      font-size: 14px;
      margin-bottom: 15px !important;
      .light {
        color: $main-black;
        font-weight: normal;
      }
    }
    .message {
      color: $main-yellow;
      font-size: 12px;
      .light {
        color: $main-black;
        font-weight: normal;
      }
    }
  }
}
