.section-3 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient($main-white, $main-green);
  padding-top: 100px;
  padding-bottom: 50px;
  .title, .subtitle {
    width: 90%;
    text-align: right;
  }
  h2 {
  color: $main-green;
  margin-bottom: 20px;
  }
  .card-container {
    min-height: 100vh;
  }
}
