.section-7 {
  width: 100%;
  min-height: 10vh;
  background-color: $main-black;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
    color: $main-white;
    font-family: $subtitle-font;
    font-size: 14px;
    span {
      color: $main-yellow;
    }
  }
  a {
    margin: 0px 20px 0px 20px;
    color: $main-white;
    img {
      width: 40px;
      height: 40px;
    }
  }
  .access-admin {
    color: $main-dark-blue;
  }
}
