.section-3 {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient($main-white, $main-green);
  padding-top: 100px;
  padding-bottom: 50px;
  .title, .subtitle {
    width: 90%;
    text-align: right;
  }
  h2 {
  color: $main-green;
  margin-bottom: 20px;
  }
  .card-container {
    //min-height: 100vh;
    height: auto;
    padding: 0;
    max-width: 1140px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 35px;
  }
  .card {
    width: 300px;
    height: 400px;
    background-color: $main-white;
    border-radius: 8px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    h1 {
      font-size: 18px;
      margin-top: 11px;
      margin-left: 11px;
    }
    p {
      padding: 0px 11px;
      margin-top: 12px;
      margin-bottom: 0;
      font-size: 12px;
      text-align: justify;
    }
    .content-info {
      height: 44px;
      position: relative;
    }
    .content-logo {
      padding: 15px 11px;
    }
    .link-git {
      padding: 5px 15px;
      color: $main-green;
      //border: 1px $main-green solid;
      border-radius: 8px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .content-miniature{
      background-color: #999;
      width: 100%;
      height: 356px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      border: 2px $main-white solid;
      transition: all 0.4s ease-in-out;
      overflow: hidden;
      .miniature {
        object-fit: cover;
        width: 100%;
      }
    }
    &:hover {
      .content-miniature {
        height: 100px;
        transition: all 0.4s ease-in-out;
      }
    }
  }
}
