.section-4 {
  width: 100%;
  min-height: 20vh;
  background-color: $main-black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    margin: 0;
    color: $main-white;
    font-family: $titles-font;
    font-size: 24px;
  }
}
