<section class="section-7 d-flex flex-column" id="footer">
  <div class="footer-link mt-4">
    <a href="https://www.linkedin.com/in/cl%C3%A9ment-le-boulanger/" target="_blank"><%= image_tag "linkedin.png", class:"img-reseau"%></a>
    <a href="https://www.malt.fr/profile/clementleboulanger" target="_blank"><%= image_tag "malt.png", class:"img-reseau"%></a>
    <a href="https://github.com/ClementLeBoulanger" target="_blank"><%= image_tag "github.png", class:"img-reseau"%></a>
  </div>
  <div class="d-flex align-items-center mt-3 mb-2"><p>Design & Développement <span>Clément Le Boulanger</span> - 2022 <%= link_to icon('fas', 'user-cog'), admin_path %></p></div>
</section>
