<div class="navbar shadow d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center">
    <%= image_tag "header/Logo-Navbar.svg" %>
    <p class="navbar-title ml-3" >Clément Le Boulanger</p>
  </div>
  <ul class="d-flex">
    <li><a href="#accueil" class="mr-4">Accueil</a></li>
    <li><a href="#projet" class="mr-4">Projets</a></li>
    <li><a href="#competence" class="mr-4">Compétences</a></li>
    <li><a href="#contact" class="">Contact</a></li>
  </ul>
</div>
