<div class="navbar">
  <div class="container">
    <%= image_tag "headlogo_yellow.png", class: "navbar_logo"%>
    <ul>
      <li><a href="#home">Accueil</a></li>
      <li><a href="#projets">Projets</a></li>
      <li><a href="#competences">Compétences</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </div>
</div>
