<div class="navbar d-flex align-items-center justify-content-center">
  <div class="container d-flex justify-content-between">
    <h2 class="text-light">DashBoard Admin</h2>
    <ul class="d-flex align-items-center">
      <li><a href="/">Retour au site</a></li>
      <li><%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "ml-3" %></li>
    </ul>
  </div>
</div>
