<div class="navbar d-flex align-items-center justify-content-center">
  <div class="container d-flex justify-content-between">
    <h2 class="text-light">Edition</h2>
    <ul class="d-flex align-items-center">
      <li><a href="/">Retour au site</a></li>
      <li class="ml-3"><a href="/admin">Dashboard</a></li>
    </ul>
  </div>
</div>
