<div class="navbar">
  <div class="container d-flex justify-content-around">
    <%= image_tag "headlogo_yellow.png", class: "navbar_logo"%>
    <h2 class="text-dark">Edition</h2>
    <ul class="d-flex align-items-center">
      <li><a href="/">Retour au site</a></li>
      <li><a href="/admin">Dashboard</a></li>
    </ul>
  </div>
</div>
