.admin-menu {
  width: 100%;
  //min-height: 100vh;
  //background-color: $main-blue;
  padding-left: 5%;
  padding-right: 5%;
  .menu {
    padding-top: 100px !important;
    width: 65%;
  }
  .nav-link {
    color: $main-yellow;
  }
  .active {
    background-color: $main-yellow !important;
  }
}

.content-admin {
  width: 100%;
  min-height: 100vh;
  //background-color: $main-blue;
  padding: 0 5%;
  .title-article {
    width: 65%;
    margin-bottom: 20px;
    h2 {
      color: $main-white;
    }
  }
  .text-field {
    background-color: $main-white;
    min-height: 20vh;
    border-radius: 8px;
    margin-top: 25px;
  }
  label {
    color: $main-white;
  }
  .trix-button-group {
    background-color: $main-white;
  }
  #article_text {
    background-color: $main-white;
  }
  .btn-submit {
    padding: 5px 10px;
    background-color: $main-yellow;
    color: $main-white;
    &:hover {
      background-color: $main-white;
      color: $main-blue;
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
  }
  .form-article-content {
    width: 65%;
    margin-bottom: 40px;
  }

  .content-projet {
    margin-top: 70px !important;
    height: auto;
    padding: 0;
    max-width: 1140px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 35px;
  }

  .card-article {
    width: 65%;
    min-height: 20vh;
    border-radius: 8px;
    background-color: $main-blue;
    margin-bottom: 40px;
    padding: 15px !important;
    color: $main-white;
  }
  .tab-pane {
    display: none;
  }
  .active {
    display: block;
  }
  .card-message {
    width: 60%;
    min-height: 17vh;
    background-color: $main-white;
    border-radius: 8px;
    margin-bottom: 40px !important;
    padding: 15px;
    .objet {
      color: $main-yellow;
      font-weight: bold;
      margin-bottom: 15px !important;
      .light {
        color: black;
        font-weight: normal;
      }
    }
    .email {
      color: $main-yellow;
      font-size: 14px;
      margin-bottom: 15px !important;
      .light {
        color: black;
        font-weight: normal;
      }
    }
    .message {
      color: $main-yellow;
      font-size: 12px;
      .light {
        color: black;
        font-weight: normal;
      }
    }
  }
}
