<div class="git">
  <div class="content-git d-flex align-items-center flex-wrap justify-content-around">
    <%= image_tag "GitHub.svg" %>
    <p><%= @repo %> Dépots</p>
    <p><%= @commit %> Contributions</p>
    <p><%= @commit[0].to_i * 3 %> Cafés</p>
  </div>
</div>
