.contact {
  padding-top: 130px !important;
  padding-bottom: 60px !important;
  min-height: 100vh;
  h2 {
    color: $main-yellow;
    font-family: $montserrat;
    font-size: 36px;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 2px;
  }
  h3 {
    color: $main-white;
    font-family: $flamenco;
    font-size: 24px;
    letter-spacing: -2px;
    font-weight: normal;
    margin-top: 8px !important;
  }
  .content-header {
    background-color: $main-blue;
    min-height: 10vh;
    margin-top: 50px !important;
    padding: 40px !important;
    color: $main-white;
    p {
      padding-top: 20px !important;
      font-size: 18px;
      font-family: $hind;
      font-weight: 100;
    }
  }
  .contact-form {
    width: 50%;
    min-height: 40vh;
    padding: 30px 70px !important;
    background-color: $main-blue;
    h4 {
      color: $main-yellow;
      padding-top: 20px !important;
      padding-bottom: 25px !important;
      font-family: $hind;
      font-size: 24px;
    }
    .new_message {
      width: 100%;
    }
    label {
      color: $main-white;
    }
    input {
      margin-bottom: 15px !important;
    }
    .btn-submit {
      margin-top: 30px !important;
      padding: 10px 15px !important;
      background-color: $main-yellow;
      color: $main-blue;
      border-radius: 5px;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $main-white;
        transition: all 0.2s ease-in-out;
        text-decoration: none;
      }
    }
  }
  .contact-map {
    width: 50%;
    min-height: 40vh;
  }
}

@media (max-width: 700px) {
  .content-contact {
    flex-direction: column;
    align-items: center;
  }
  .contact-form, .contact-map {
    width: 100% !important;
  }
}
