h1 {
  color: $main-green;
  font-size: 40px;
  letter-spacing: 3px;
  font-family: $titles-font;
}

h2 {
  color: $main-yellow;
  font-family: $subtitle-font;
}

h6 {
  color: $main-green;
  letter-spacing: 3px;
  font-family: $titles-font;
}
